<!--<div class="login-register-form">-->
    <div class="pre-title-form">
        <div class="login title-form checked-title">Login</div><div class="register title-form">Register</div>
    </div>
    <div class="login-block displayed block">
        <input type="text" value="username"/><br>
        <input type="text" value="password"/><br>
        <div class="button-post">Log in</div>
    </div>
    <div class="register-block none-displayed block">
        <input type="text" value="username"/><br>
        <input type="text" value="email"/><br>
        <input type="text" value="password"/><br>
        <input type="text" value="confirm_password"/><br>
        <div class="button-post">Log in</div>
    </div>
